<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TempoTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TempoTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TempoTracker.Properties.Settings>
            <setting name="MainWindowXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ServiceApi" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="notifyShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prefClearProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prefDisplayTimeHoursMinutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="perfWarnOnEmptyNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="perfShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="perfShowTimeReminder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serviceUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="servicePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="perfReminderTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="perfIdleTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="perfIdleTime" serializeAs="String">
                <value>5</value>
            </setting>
        </TempoTracker.Properties.Settings>
    </userSettings>
<applicationSettings>
        <TempoTracker.Properties.Settings>
                <setting name="apiKeepTempo" serializeAs="String">
                        <value>https://USERNAME.keeptempo.com</value>
                </setting>
                <setting name="apiFreshbooks" serializeAs="String">
                        <value>Not yet supported</value>
                </setting>
                <setting name="apiFreckle" serializeAs="String">
                        <value>Not yet supported</value>
                </setting>
                <setting name="apiKlok" serializeAs="String">
                        <value>Not yet supported</value>
                </setting>
        </TempoTracker.Properties.Settings>
    </applicationSettings>
</configuration>
