<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempoTrackerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempoTrackerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TempoTrackerWPF.Properties.Settings>
            <setting name="MainWindowXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ServiceApi" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTimeHoursMinutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnOnEmptyNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimeReminder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ServicePassword" serializeAs="String">
                <value />
            </setting>
        </TempoTrackerWPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TempoTrackerWPF.Properties.Settings>
            <setting name="ApiKeepTempo" serializeAs="String">
                <value>https://USERNAME.keeptempo.com</value>
            </setting>
        </TempoTrackerWPF.Properties.Settings>
    </applicationSettings>
</configuration>